.footer__column-link {
    color: #fff;
    text-decoration: none;
    display: flex;
    margin-bottom: 16px;
    line-height: 30px;
    font-size: 18px;
    font-weight: normal;
  }

  .footer__column-link:hover {
    transition: .8s;
    opacity: 0.6;
  }