.header__title {
    display: flex;
    align-items: center;
    align-self: center;
    width: 730px;
    margin: 0;
    padding: 0;
    margin-left: 64px;
    z-index: 2;
    line-height: 96px;
    font-size: 102px;
    font-weight: bold;
  }